.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, .3);
}

.loading h1 {
  color: black;
  animation: loading 1s infinite alternate;
}

@keyframes loading {
  from {
    color: black
  }
  to {
    color: whitesmoke;
  }
}
